-- Railway PostgreSQL init schema for Voice Social Mini App
-- Run this once in your Railway PostgreSQL instance

-- Extensions
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- =============================
-- Users (Farcaster Integration)
-- =============================
CREATE TABLE IF NOT EXISTS "User" (
  fid bigint PRIMARY KEY,
  username text,
  "displayName" text,
  "pfpUrl" text,
  bio text,
  "walletAddress" text,
  "createdAt" timestamptz DEFAULT now(),
  "updatedAt" timestamptz DEFAULT now()
);

-- =============================
-- Voices
-- =============================
CREATE TABLE IF NOT EXISTS "Voice" (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  "userFid" bigint NOT NULL REFERENCES "User"(fid),
  "audioUrl" text NOT NULL,
  duration float NOT NULL,
  title text,
  description text,
  "createdAt" timestamptz DEFAULT now(),
  "updatedAt" timestamptz DEFAULT now()
);

-- =============================
-- Voice Likes
-- =============================
CREATE TABLE IF NOT EXISTS "VoiceLike" (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  "userFid" bigint NOT NULL REFERENCES "User"(fid),
  "voiceId" uuid NOT NULL REFERENCES "Voice"(id),
  "createdAt" timestamptz DEFAULT now(),
  UNIQUE("userFid", "voiceId")
);

-- =============================
-- Voice Comments
-- =============================
CREATE TABLE IF NOT EXISTS "VoiceComment" (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  "userFid" bigint NOT NULL REFERENCES "User"(fid),
  "voiceId" uuid NOT NULL REFERENCES "Voice"(id),
  content text NOT NULL,
  type text NOT NULL DEFAULT 'text', -- 'text' or 'audioUrl'
  "createdAt" timestamptz DEFAULT now()
);

-- =============================
-- Voice Views
-- =============================
CREATE TABLE IF NOT EXISTS "VoiceView" (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  "userFid" bigint REFERENCES "User"(fid),
  "voiceId" uuid NOT NULL REFERENCES "Voice"(id),
  "ipAddress" text,
  "createdAt" timestamptz DEFAULT now(),
  UNIQUE("userFid", "voiceId")
);

-- =============================
-- Notifications
-- =============================
CREATE TABLE IF NOT EXISTS "Notification" (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  "recipientFid" bigint NOT NULL REFERENCES "User"(fid),
  "senderFid" bigint REFERENCES "User"(fid),
  type text NOT NULL, -- 'like', 'comment'
  "voiceId" uuid NOT NULL REFERENCES "Voice"(id),
  read boolean DEFAULT false,
  "createdAt" timestamptz DEFAULT now()
);

-- =============================
-- User Points
-- =============================
CREATE TABLE IF NOT EXISTS "UserPoints" (
  "userFid" bigint PRIMARY KEY REFERENCES "User"(fid),
  "totalPoints" int DEFAULT 0,
  "viewPoints" int DEFAULT 0,
  "likePoints" int DEFAULT 0,
  "commentPoints" int DEFAULT 0,
  "createdAt" timestamptz DEFAULT now(),
  "updatedAt" timestamptz DEFAULT now()
);

-- =============================
-- Indexes for Performance
-- =============================
CREATE INDEX IF NOT EXISTS idx_voice_user_fid ON "Voice"("userFid");
CREATE INDEX IF NOT EXISTS idx_voice_created_at ON "Voice"("createdAt");
CREATE INDEX IF NOT EXISTS idx_voice_like_user_fid ON "VoiceLike"("userFid");
CREATE INDEX IF NOT EXISTS idx_voice_like_voice_id ON "VoiceLike"("voiceId");
CREATE INDEX IF NOT EXISTS idx_voice_comment_voice_id ON "VoiceComment"("voiceId");
CREATE INDEX IF NOT EXISTS idx_voice_view_voice_id ON "VoiceView"("voiceId");
CREATE INDEX IF NOT EXISTS idx_notification_recipient ON "Notification"("recipientFid");
CREATE INDEX IF NOT EXISTS idx_notification_read ON "Notification"(read);
CREATE INDEX IF NOT EXISTS idx_user_points_total ON "UserPoints"("totalPoints");

-- =============================
-- Sample Data (Optional)
-- =============================
-- Insert sample user for testing
INSERT INTO "User" (fid, username, "displayName", bio) 
VALUES (1, 'testuser', 'Test User', 'This is a test user for development')
ON CONFLICT (fid) DO NOTHING;

-- Insert sample user points
INSERT INTO "UserPoints" ("userFid", "totalPoints", "viewPoints", "likePoints", "commentPoints")
VALUES (1, 0, 0, 0, 0)
ON CONFLICT ("userFid") DO NOTHING;